
.contact .bg-contact-info{
    background: url(../../assets/images/contactBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;  
    border-bottom-left-radius: 12px;  
    overflow: hidden;  
}

.contact .info {
    padding: 1rem 0;
  overflow: hidden;
}
.contact .info-item{
    padding-top: 0.6rem;
    display: flex;
    align-items: justify;
    gap: 1rem;
}
.contact .info-item i {
  color: var(--color-white);
  font-size: x-large;
  transition: all 0.3s ease-in-out;
}
.contact .info-item h4{
    font-weight: 700;
}
.contact .info-item p{
    font-weight: 500;
    color: #dedede;
}
.contact .info-item+.info-item { 
     border-top: 1px solid #AAAAAA; 
}

.contact .contact-form {
  width: 100%;
  background: var(--color-white);
}
.contact .bg-contact-form{
    border-top-right-radius: 12px;  
    border-bottom-right-radius: 12px; 
    background: rgba(70, 70, 70, 0.05);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
}

.contact .contact-form {         
  padding: 30px 30px;               
  border-radius: 12px;             
}

.contact .contact-form .form-control {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
}

.contact .contact-form input{
    font-size: 1.1rem;
    padding: 0.6rem;
    background-color: #181818;
}

.contact .contact-form textarea{
    font-size: 1.1rem;
    background-color: #181818;
    padding: 0.6rem;
    height: 130px;
}

.contact .contact-form .form-control::placeholder {
  color: #aaa;                 
}

.contact .contact-form .form-control:focus {
  background: #000000;
  color: #fff;
}


.contact .contact-form button[type=submit] {
  background: var(--gradient-color);  
  border: 0;
  padding: 13px 50px;
  color: var(--color-white);
  transition: 0.4s;
  border-radius: 0;
}

.contact .contact-form button[type=submit]:hover {
  opacity: 0.8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}