/* Shared button styles */
.primaryBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #353535;
  font-family: var(--font-default);
  color: var(--white-color);
  padding: 0.4em 1em;
  border-radius: 0.4em;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s;
}
.primaryBtn .btn-icon {
  padding-left: 1em;
  display: flex;
  align-items: center;
}
.secondaryBtn {
  background: var(--gradient-color);
  padding: 0.6em 2.6em;
  font-size: 1.2em;
  border-radius: 2.8em;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondaryBtn .btn-icon {
  padding-left: 1em;
  display: flex;
  align-items: center;
}
