.key-application-card {
  border: 2px solid #181818;
}

.key-application-card i {
  font-size: 3.8rem;
}
.key-application-card p {
  color: #aaaaaa;
}


@media (max-width: 576px){
 .key-application-card {
  margin-top: 1rem;
 }
}