.real-world {
  border: 2px solid #181818;
  height: 400px;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.real-world .overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0) 60%    
  );
  z-index: 1;
}

.real-world p {
  position: relative;
  z-index: 2;
}
