:root{
   --font-default: 'Abel', sans-serif;

    --primary-color: #5653FF;
    --secondary-color: #D252FF;
    --gradient-color: linear-gradient(to right,#D252FF,#5653FF); 
    --white-color: #FFFFFF;
    --grey-color: #8A8A8A;
}