:root {
  --font-default: 'Abel', sans-serif;
  --primary-color: #5653ff;
  --secondary-color: #d252ff;
  --gradient-color: linear-gradient(to right, #5653ff, #d252ff);
  --white-color: #ffffff;
  --grey-color: #8a8a8a;
}
