.card {
  border: 2px solid #181818;
  background-color: #000000;
  max-width: 600px;
}
.card h2 {
  min-height: 4.6rem;
}
.card p {
  color: #aaaaaa;
  min-height: 5.8rem;
}
.card .primaryBtn i {
  transition: transform 0.3s ease; 
}

.card .primaryBtn:hover i {
  transform: translateX(10px); 
}
