.home>h1 {
    font-size: 2.7rem;
    max-width: 28ch;
}
.home .twopartcomponent{
    padding: 7rem 0;
    gap: 7rem;
}
.market-section {
    border: 1px solid #181818;
    border-radius:  1rem;
    box-shadow: 0 0 2px #414141;
}
.market-section h1 {
    color: var(--secondary-color);
}
.dwan-architecture{
    margin: 7rem 4rem;
}
.dwan-architecture img{
    border: 2px solid #181818;
}


@media (min-width:1439px){
    .dwan-architecture{
        width: 90%;
        margin: 7rem 0rem;
    }
}