.bg {
  position: relative;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem;
}

.bg::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    transparent 70%
  );
  transform: translateY(-50%);
  filter: blur(100px);
  border-radius: 50%;
}

.bg::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10%;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, var(--primary-color) 0%, transparent 70%);
  transform: translateY(-50%);
  filter: blur(100px);
  border-radius: 50%;
}
.bg::before,
.bg::after {
  z-index: -1;
}
.home > .description h1 {
  font-size: 2.7rem;
  max-width: 28ch;
}
.bg-photo {
  border-top: 1px solid #181818;
  background-image: url(../../assets/images/subscription_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .twopartcomponent {
  padding: 7rem 0;
  gap: 7rem;
}
.market-section {
  border: 1px solid #181818;
  border-radius: 1rem;
  box-shadow: 0 0 2px #414141;
}

.market-section-heading {
  font-size: 1.75rem;
}
.market-section h1 {
  color: var(--secondary-color);
}
.dwan-architecture {
  margin: 7rem 0;
}
.dwan-architecture img {
  border: 2px solid #181818;
  background-color: #000000;
}


@media (min-width: 1400px) {
  .market-section-heading {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
   .market-sectionn{
     flex-direction: column;
   }
  .mcp{
    flex-direction: column;
  }
  .mcp img{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 400px;
  }
}

@media (max-width: 576px) {
  .market-section{
    padding: 0 !important;
  }
  .market-section h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.6rem;
    font-size: 1rem ;
  }
  .market-section h3{
    font-size: 0.8rem ;
     padding: 0.6rem;
  }
  .market-section .market-section-money{
    padding-right: 0 !important;
  }
  .mcp img{
    width: 200px;
  }
  .home > .description h1 {
  font-size: 2rem;
  max-width: 28ch;
 }
 
}