.footer {
  border: 1px solid #181818;
}
.footer p,
a {
  color: #aaaaaa;
}
.footer a {
  text-decoration: none;
  cursor: pointer;
}
.footer .footer-content a:hover {
  color: var(--white-color);
}
.footer  .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(var(--color-white-rgb), 0.1);
  color: #aaaaaa;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: var(--color-white);
  text-decoration: none;
}


@media (max-width:1199px) {
  .footer-links{
    flex-wrap: wrap;   
    margin-top: 3rem;
    justify-content: space-between !important;
  }
  .footer-as{
    margin: 0 !important;
  }
}
@media (max-width: 768px) {
  .social-links{
    padding-top: 1rem;
  }
  
}
@media (max-width:500px) {
  .footer-links{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .footer-as{
    margin: 0 !important;
  }
  .footer-legal .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-legal .copyright img{
    border: none !important;
  }
}