.header {
  height: 70px;
  box-sizing: border-box;
  z-index: 70;
}
.fixed-header {
  background-color: #000000;
  box-shadow: 0 0 20px #181818;
  transition: 0.3s ease;
}
.header img {
  height: 70px;
}

.header-nav > ul {
  gap: 40px;
}

.header-link {
  box-sizing: border-box;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  color: var(--grey-color);
  font-size: 1.25rem;
  transition: color 0.2s;
}
.header-link .dropdown-icon {
  font-size: 0.8rem;
}
.header-link:hover {
  color: var(--white-color);
}

.header-nav .dropdown ul {
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  border: 2px solid #414141;
  background-color: var(--background-color);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
}
.header-nav .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-nav .dropdown ul li a {
  color: var(--grey-color);
  cursor: pointer;
}

.header-nav .dropdown:hover > .header-link {
  color: var(--white-color);
}

.header-nav .dropdown ul li a:hover {
  color: var(--white-color);
}
.header .mobile-menu-btn{
  border: none;
  outline: none;
  background: black;
  color: #AAAAAA;
  font-size: 2.4rem;
}

@media (max-width: 1425px) {
  .header {
    padding: 3rem;
  }
  .header-link {
    font-size: 1rem;
    padding: 6px 0 10px 6px;
  }
  .header-nav .dropdown ul {
    font-size: 0.8rem;
  }
}

@media (max-width: 1240px) {
  .header-nav {
    display: none !important;
  }
  .mobile-menu-btn {
    display: block !important;
  }
}
