.header {
  height: 70px;
  padding: 4rem 1.5rem;
  box-sizing: border-box;
}
.header img {
  height: 70px;
}

.header-nav > ul {
  gap: 40px;
}

.header-link {
  gap: 10px;
  padding: 10px 0;
  color: var(--grey-color);
  font-size: 1rem;
  transition: color 0.2s;
}
.header-link .dropdown-icon {
  font-size: 0.8rem;
}
.header-link:hover {
  color: var(--primary-color);
}

.header-nav .dropdown ul {
  top: 100%;
  min-width: 200px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  border: 2px solid #414141;
  background-color: var(--background-color);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
}
.header-nav .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-nav .dropdown ul li a {
  color: var(--grey-color);
}
