.overview h1 {
  font-weight: 600;
}
.overview p {
  font-size: large;
  color: #aaaaaa;
}
.overview img {
  max-width: 400px;
}
@media (max-width:768px){
  .overview{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}