
.contact-overlay {
  position: fixed;
  top: 6.4rem;
  left: 0;
  width: 100%;
  z-index: 98;
}

.popup {
  border-radius: 12px;
  color: #fff;
  position: relative;
  
  animation: popup-appear 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 160px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
}

@keyframes popup-appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 1400px){
  .contact-overlay {
  top: 10rem;
  left: 0;
}
.close-btn {
  right: 190px;
  
}

}
@media (max-width: 1024px){
 .close-btn {
  right: 120px;  
  }
}
@media (max-width: 768px){
 .close-btn {
  right: 65px;  
  }
}
@media (max-width: 576px){
  .contact-overlay {
  top: 3rem;
  left: 0;
}
 .close-btn {
  right: 20px;  
  }
}
