* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color) !important;
  color: var(--white-color);
  font-family: var(--font-default);
  font-size: var(--font-size);
}
.main-container {
  padding-left: 78px;
  padding-right: 78px;
}
.full-width {
  margin-left: -78px;
  margin-right: -78px;
}
.colored {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
