body {
  background-color: var(--background-color) !important;
  color: var(--white-color);
  font-family: var(--font-default);
  font-size: var(--font-size);
}
.colored{
    background: var(--gradient-color); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}
