
.secondaryBtn{
    background: var(--gradient-color);
    color: var(--white-color);
    font-family: var(--font-default);
    padding: 0.6em 2.6em;
    font-size: 1.2em;
    border-radius: 2.8em;
    border: none;
     
}
